<%- include('layout/header') %>

<div
  class="border-2 border-blue-500 rounded-lg shadow-lg shadow-blue-200 h-full flex justify-center"
>
  <div lass="flex justify-center">
    <h3 class="text-center my-3">Detalle</h3>

    <p>lenguajes elegidos -><%= lenguaje %></p>
    <br />
    <p>niveles elegidos -><%= niveles %></p>
    <br />
    <p>metodo de pago -><%= pago %></p>

    <br />
    <p>precio -><%= precio %></p>
  </div>
</div>
<%- include('layout/footer') %>
